<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
    <div class="col-12 col-lg-6">
      <img src="/img/hero-image.png" width="607" height="510" class="d-block mx-lg-auto img-fluid" loading="lazy" alt="Cooking With Node.js">
    </div>
    <div class="col-12 col-lg-6">
      <p class="lead"> <marquee><em>Coming Soon: Admin Panel, Sign up, Voting, Comments</em></marquee></p>
      <h1 class="display-5 fw-bold mb-3">Introducing "Rasoi Rang" - Your Ultimate Recipe Companion!</h1>
      <p class="lead"> Recipe Master is a versatile cooking app that brings together a wide range of culinary delights to satisfy your taste buds. With our extensive collection of recipes, you can discover new dishes, explore various cuisines, and unleash your inner chef. Whether you're a beginner or a seasoned cook, Recipe Master has something for everyone. </p>
      <p class="lead"> Key Features: </p>
      <p class="lead"> I. <b>Categories based on Various Cuisines:</b> Dive into a world of flavors from Italian classics to spicy Indian curries, we have it all covered. </p>
      <p class="lead"> II. <b>Easy Recipe Search:</b> Looking for a specific recipe? Rasoi Rang will provide you with relevant results. </p>
      <p class="lead"> III. <b>Upload Your Recipes:</b> it's completely free without any sign-up required. </p>
      <p>&nbsp;</p>
      <p class="display-6 fw-bold mb-10"><a href="/">Use Rasoi Rang now and unlock a world of culinary possibilities!</a> </p>
    </div>
  </div>